#AdminPanel{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#AdminPanel>div{
    width: 30%
}
.StatusBar{
display: flex;
flex-direction: column;
box-sizing: border-box;
border: 2px solid gray
}
.OrderBox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid 2px grey;
    margin-bottom: 5px;
    font-family: fantasy;
    border-radius: 10px;
    margin: 10px
}
.OrderBoxId{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
}
.OrderBoxHeader{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
}
.OrderBoxPizzas{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
}
.OrderBox>div{
    margin: 5px;
}