.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Pizza{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius:10px; 
  margin: 10px;
  height: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.Pizza>div{
  margin: 3px
}
#PizzaName{
  font-size:20px 
}
#PizzaHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:20px 
}
#PizzaHeader>span{
  font-size: 20px;
  width: 20%
}
#PizzaContent{
  display: flex;
  justify-content: space-between;
}
#PizzaContent>div{
  width: 20%
}
#PizzaButton{
  display: flex;
  flex-direction: column
}
#pizzas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#Main{
  display: flex;
  justify-content: center;
}
.NavbarButton{
  margin: 10px;
}

#ButtonGroup{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px
}
#TotalPrice{
  box-sizing: border-box;
  border:2px solid #282c34;
  border-radius: 10px
}
#TotalPrice>div{
  margin: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#SubmitButton{
  box-sizing: border-box;
  border:2px solid #282c34;
  border-radius: 10px;
  background: transparent;
}
#SubmitButton>div{
  margin: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#SubmitButton:hover{
  background: #5a6268;
  color: aliceblue
}
#PizzaContent_ingredients{
  display: flex;
  flex-direction: column;
}
#PizzaContent_ingredients>div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px
}
#Success{
  display: flex;
  flex-direction: column;
}

